{% extends "main/base.html" %}

{% block content %}

<div class="col-xxl-12 mx-auto pt-2 pb-4" style="width: 70%; height:auto;">
    <h2 class="text-center">Details for {{items.name}} with id = {{items.id}} <a class="btn btn-secondary" href="{% url 'updatesurvey' items.id %}">Update</a></h2>
    {% if object1.items %}
    <table class="table table-striped table-hover table-bordered">
        {% for key, value in object1.items %}
        <tr>
            <td><b>{{ key }}</b></td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <td><a class="btn btn-secondary" href="{% url 'updatesurvey' items.id %}">Update</a></td>
    {%else%}
    <h3>There are no entrys!</h3>
    {% endif %}
</div>



{% endblock %}